body {
	font-family: "Verdana";
	text-align: center;
	background-color: #F2F3F4;
}

h1 {
	color: black;
	font-size: 32px;
	font-weight: 400;	
}

hr {
	width: 500px;
}


p {
	color: #7B7D7D;
	font-family: helvetica;
