* {
	margin: 0;
	padding: 0;
}


body {
	font-family: helvetica;
	text-align: center;
}


header img {
	width: 100%;
}


#slogan {
	font-style: italic;
	text-align: left;
	text-indent: 20px;
	font-size: 20px;
	color: #516872
}


#welcome {
	line-height: 1.25;
	padding: 10px 0px;
	font-size: 20px;
	color: #7B7D7D

}


h3 {
	color:#516872;
}


p {
	color: #7B7D7D;
	font-family: helvetica;
}


article	{
	padding-bottom: 20px;
}

article a {
	color: inherit;
	text-decoration: none;
}


footer {
	background-color: #cccccc;
	margin-top: 50px;
	}
