@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


* {
	margin: 0;
	padding: 0;
}



body {
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 16px;
}

#hero {
	text-align: center;
	background-image: url("https://i.imgur.com/og6Qidt.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 75px;
}

header {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	line-height: 1.75em;
	padding-top: .5em;
	font-size: 1.5em;
	color: #417982;
}

nav {
}

nav a{
	padding: 2em;
}


main {
	width: 1200px;
	margin: auto auto;
}

h1 {
	font-size: 4em;
	padding-bottom: .25em;
	color: #071D28;
	font-family: 'Raleway', sans-serif;

}


h3	{
	/*text-align: center;*/
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	padding: .25em 0;
	color: #417982

}


a {
	color: inherit;
	text-decoration: none;
}

/*footer {*/
	
	/*margin-top: 4em;*/
	/*text-align: center;*/
	/*}*/

#slogan {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	text-align: center;
	font-size: 1.25em;
	color: #5BA9B5
}

footer {
	margin-top: 2em;
	background-color: #417982;
	padding-top: 1em;
	padding-bottom: 1em;	
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}

.round_auri{
	line-height: 1.5em;
	width: 300px;
	margin: 20px;
	background-color: orange;
	text-align: center;
	float: left;
}

