@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


* {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 16px;
}

#hero {
	text-align: center;
	background-image: url("https://i.imgur.com/og6Qidt.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 6.25em;
	padding-bottom: 6.25em;
}

header {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	line-height: 1.75em;
	padding: 1em 0;
	font-size: 1.5em;
	color: #417982;
}

nav a{
	padding: 2em;
}



h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 4em;
	padding-bottom: .25em;
	color: #071D28;
}

/*h2 {
	font-size: 3em;
}*/


h3	{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	line-height: 1em;
	padding: .25em 0;
	color: #417982
}

h4 {
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	text-align: center;
	color: #5BA9B5
}


a {
	color: inherit;
	text-decoration: none;
}

a:hover{
	color:red;
}



footer {
	margin-top: 4em;
	background-color: #417982;
	padding-top: 1em;
	padding-bottom: 1em;	
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}

.wrapper {
	width: 90%;
	margin: auto;
/*	background-color: blue;*/
}

.round_auri{
	line-height: 1.5em;
	width: 29%;
	margin: 1.4%;
	text-align: center;
	float: left;
/*	background-color: green;*/
}



.round_auri img {
	width: 100%;
	max-width: 200px;
	display: block;
	margin: auto;
}


/*#slogan {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	text-align: center;
	font-size: 1.25em;
	color: #5BA9B5
}*/

/*.auri_pic{
	background-color: green;
	margin: auto;
}*/

/*footer {*/
	
	/*margin-top: 4em;*/
	/*text-align: center;*/
	/*}*/


main {
	width: 100%;
	margin: 0 auto;
/*	background-color: red;*/
}

@media only screen and (min-width: 1800px) {
	#hero{
		padding: 10em 0;
	}
}


@media only screen and (min-width: 1400px) {
	#hero{
		padding: 8em 0;
	}
}


@media only screen and (max-width: 1200px) {
	#hero {
		padding-top: 5em;
		padding-bottom: 6.25em;
	}
	header {
		padding-top: .5em
	}
}

@media only screen and (max-width: 1050px) {
	body {
		font-size: 14px;
	}

	#hero {
		padding-top: 5em;
		padding-bottom: 6.25em;
	}

	header {
		padding-top: .2em
	}

	h2 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 860px) {
	#hero {
		padding-top: 4em;
		padding-bottom: 5em;
	}

	h1 {
		font-size: 3.5em;
	}

	header {
		padding-top: 0em
	}

	h2 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1.5em;
	}
}


/*@media only screen and (max-width: 768px) {
	.auri_pic {
		float: left;
		padding-right: 5em;
	}

	.right {
		float: right;
		display: block;
	}

	.round_auri {
		float: none;
		width: 80%;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	body {
		font-size: 14px;
	}*/


@media only screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}

	#hero {
		padding-top: 3em;
		padding-bottom: 5em;
	}
	h1 {
		font-size: 3.2em;
	}

	.round_auri {
		float: none;
		width: 80%;
		margin: 0 auto;
		padding-bottom: 50px;
	}

@media only screen and (max-width: 580px) {
	nav a{
		display: block;
		text-align: center;
		margin: 0;
		padding: 0;
		background-color: #417982;
	}

	#hero {
		padding-top: .5em;
		padding-bottom: 3em;
	}

	h1 {
		font-size: 2.5em;
		display: inline-block;
		width: 50%;
		text-align: center;
		padding-top: 0;
		padding-bottom: .2em;
	}

	h4 {
		font-size: 1.25em;
	}

	h2 {
		font-size: 1.1em;
		display: inline-block;
		width: 90%;
	}
}

@media only screen and (max-width: 490px) {
	h1 {
		font-size: 2.2em;
		padding-top: 0em;
		padding-bottom: 0em;
	}

	h4 {
		font-size: 1em;
	}

/*@media only screen and (max-width: 768px) {
	#hero {
		padding-top: 3em;
		padding-bottom: 4em;
	}*/



	
	


/*	nav a {
		display: block;
		text-align: center;
		margin: 0;
	}*/
}

