@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


* {
	margin: 0;
	padding: 0;
}



/*Labeling semantic tags*/
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

aside	{
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}


.wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

section {background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#hero {
	background-color: #FFE2B3;
	border: 1px black solid;
	padding: 20px;
}

/*end labeling semantics*/


body {
	font-family: 'Merriweather', serif;
	text-align: center;
	font-size: 16px;
}

#hero {
	text-align: center;
	background-image: url("https://i.imgur.com/og6Qidt.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 100px;
}

header {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	line-height: 1.5em;
	padding-top: 1em;
	font-size: 1.5em;
	color: #417982;
}


main {
	width: 60em;
	margin: 0 auto;
}

h1 {
	font-size: 4em;
	padding-bottom: .25em;
	color: #071D28;
	font-family: 'Raleway', sans-serif;

}


section {
	padding: 3em 0;
	/*border-bottom: 1px solid #ccc;*/
	/*width: 50em;*/
	/*margin: 0 auto;*/
}

h3	{
	/*text-align: center;*/
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	padding: .25em 0;
	color: #417982

}

article {
	margin-left: 10px;
	line-height: 1.5em;
	text-align: left;
	padding-left: 50px;
}

a {
	color: inherit;
	text-decoration: none;
}

/*footer {*/
	
	/*margin-top: 4em;*/
	/*text-align: center;*/
	/*}*/

#slogan {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	text-align: center;
	font-size: 1.25em;
	color: #5BA9B5
}

/*aside {
	width: 200px;
	margin: 0 auto;
	float: left;
	padding-right: 10px;
}*/



footer {
	clear: both;
	margin-top: 2em;
	background-color: #417982;
	padding-top: 1em;
	padding-bottom: 1em;	
	text-align: center;
	font-family: 'Raleway', sans-serif;
}



